{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section class="flex justify-center flex-col items-center my-16">
        <div class="px-4 py-4 border rounded border-gray-300 shadow-md bg-white w-full md:w-2/4">
            <img class="w-24 mx-auto py-6" src="images/logo.png" alt="">
            <h1 class="font-bold text-4xl text-center">Snow<span class="text-blue-500">Tricks</span></h1>
            <span class="font-bold text-lg block text-center mt-2">Mot de passe oublié</span>
            <p class="px-4 lg:px-8 text-[17px] text-gray-500 mt-10">Un mail vous sera envoyé afin de réinitialiser votre mot de passe.</p>
            {{ form_start(form, {'attr': {'class': 'px-4 lg:px-8 py-6 pb-12 flex flex-col gap-5'}}) }}
            <div>
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                <span class="form-error">{{ form_errors(form.username) }}</span>
            </div>
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
