{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section class="flex justify-center flex-col items-center my-16">
        <div class="px-4 py-4 border rounded border-gray-300 shadow-md bg-white w-full md:w-2/4">
            <img class="w-24 mx-auto py-6" src="images/logo.png" alt="">
            <h1 class="font-bold text-4xl text-center">Snow<span class="text-blue-500">Tricks</span></h1>
            <span class="font-bold text-lg block text-center mt-2">Se connecter</span>
            <form class="px-4 lg:px-8 py-6 pb-12 flex flex-col gap-5"
                  action="{{ path('security_login') }}" method="post">
                {% if error %}
                    <div class="p-4 py-3 bg-red-500 rounded">
                        <p class="text-sm text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                {% endif %}
                <div>
                    <label for="username" class="label">Votre nom d'utilisateur</label>
                    <input class="input" type="text" required name="_username" id="username"
                           value="{{ lastUsername }}">
                </div>
                <div>
                    <label for="password" class="label">Votre mot de passe</label>
                    <input class="input" type="password" required name="_password" id="password">
                    <p class="mt-2">
                        Vous avez oublié votre
                        <a class="text-blue-500 hover:underline" href="{{ path('security_forgot_password') }}">mot de de passe ?</a></p>
                </div>
                <button type="submit" class="btn-primary">Se connecter</button>
            </form>
        </div>
    </section>
{% endblock %}
