{% extends 'base.html.twig' %}

{% block title %}Réinitialliser votre mot de passe{% endblock %}

{% block body %}
    <section class="flex justify-center flex-col items-center my-16">
        <div class="px-4 py-4 border rounded border-gray-300 shadow-md bg-white w-full md:w-2/4">
            <img class="w-24 mx-auto py-6" src="images/logo.png" alt="">
            <h1 class="font-bold text-4xl text-center">Snow<span class="text-blue-500">Tricks</span></h1>
            <span class="font-bold text-lg block text-center mt-2">Réinitialiser votre mot de passe</span>
            {{ form_start(form, {'attr': {'class': 'px-4 lg:px-8 py-6 pb-12 flex flex-col gap-5'}}) }}
            <div>
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
                <span class="form-error">{{ form_errors(form.plainPassword.first) }}</span>
            </div>
            <div>
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
                <span class="form-error">{{ form_errors(form.plainPassword.second) }}</span>
            </div>

            {{ form_row(form.submit) }}

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
