@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-blue-500 font-semibold text-white py-2 px-4 rounded duration-100 cursor-pointer hover:bg-blue-600;
    }

    .btn-secondary {
        @apply bg-blue-50 font-semibold py-2 px-4 rounded duration-100 border border-gray-600 hover:bg-gray-800 hover:text-white hover:border-gray-800;
    }

    .btn-danger {
        @apply bg-red-500 font-semibold text-white py-2 px-4 rounded duration-100 cursor-pointer hover:bg-red-600;
    }

    .label {
        @apply block pb-1 font-semibold;
    }

    .input {
        @apply border border-gray-400 rounded focus:outline-blue-500 py-1.5 px-3 w-full;
    }

    .form-group {
        @apply flex flex-col items-stretch gap-3;
    }

    .form-error {
        @apply text-red-500 text-sm block mt-1;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

.card-trick:hover > span {
    display: block;
}

.swiper {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}