{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
    <section class="flex justify-center lg:justify-between my-12 relative items-center">
        <div class="flex gap-0 lg:gap-8 flex-col max-w-xl -mt-12">
            <img class="w-[220px] mx-auto lg:mx-0" src="images/logo.png" alt="Logo Snowtricks">
            <div class="flex flex-col gap-6 mt-2 items-start">
                <h1 class="text-5xl font-bold text-center mx-auto lg:text-left lg:mx-0" style="line-height: 3.7rem">
                    Bienvenue, <br> sur
                    Snowtricks !</h1>
                <p class="text-lg text-center mx-auto lg:text-left lg:mx-0">
                    Snowtricks est la plateforme communautaire pour les passionnés de snowboard.
                    Découvrez de nouvelles figures et partagez vos tricks et astuces.
                </p>
                {% if not app.user %}
                    <a href="{{ path('security_login') }}" class="btn-primary mx-auto lg:mx-0">Commencer l'aventure</a>
                {% endif %}
                <a href="#sectionTricks"
                   class="rounded-full border border-gray-800 w-12 h-12 flex items-center justify-center
                            cursor-pointer hover:opacity-60 duration-100 mt-4 mx-auto lg:mx-0">
                    <i class="fa fa-solid fa-arrow-down text-2xl text-·gray-800"></i>
                </a>
            </div>
        </div>
        <img class="w-[400px] hidden lg:block" src="images/banner.png" alt="Image de bannière">
    </section>

    <section class="container mx-auto px-4 pt-12 mt-0 sm:mt-24 mb-16" id="sectionTricks">
        <h2 class="text-5xl text-center font-bold">Découvrez les <span class="text-blue-500">Tricks</span></h2>
        <a href="#sectionTricks"
           class="arrow-top rounded-full bg-blue-500 w-12 h-12 flex items-center justify-center cursor-pointer hover:bg-blue-400 duration-100 mt-4 fixed right-16 bottom-24 z-10">
            <i class="fa fa-solid fa-arrow-up text-2xl text-white"></i>
        </a>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 md:gap-8 mt-6 sm:mt-24">
            {% for trick in tricks %}
                {% include 'partial/_card-trick.html.twig' %}
            {% endfor %}
        </div>
        <div class="flex justify-center py-8">
            <button class="btn btn-primary px-6" id="show-more">Voir plus</button>
        </div>
    </section>

    {% include 'partial/_modal-delete.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('show-more') }}
    {{ encore_entry_script_tags('show-arrow-top') }}
    {{ encore_entry_script_tags('modal-delete') }}
{% endblock %}

