<article class='trick rounded-xl overflow-hidden border border-gray-200 shadow-sm'>
    <div class="flex items-center justify-between py-3 px-4">
        <div class="flex items-center gap-3">
            <span class="h-12 w-12 rounded-full bg-blue-500 font-semibold text-white relative overflow-hidden">
                <img src="{{ asset('./uploads/users/' ~ trick.thumbnail) }}" alt="trick thumnail"/>
            </span>
            <p class="font-semibold">{{ trick.username }}</p>
        </div>
        {% if app.user and 'ROLE_USER_VERIFY' in app.user.roles %}
            <div class="flex items-center gap-2">
                <a href="{{ path('trick_update', {slug: trick.trick.slug}) }}"
                   class="py-2 px-3 rounded bg-orange-500 text-white hover:bg-orange-400">
                    <i class="fas fa-pen"></i>
                </a>
                {% if trick.username == app.user.username %}
                    <button class="modal-open py-2 px-3 rounded bg-red-500 text-white hover:bg-red-400"
                            data-trick="{{ trick.trick.id }}">
                        <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <a href="{{ path("trick_show", {'slug': trick.trick.slug}) }}" class="hover:opacity-80 relative card-trick">
        <img class="w-full h-64 object-cover relative z-1"
             src="{{ asset('./uploads/tricks/' ~ trick.trick.mainImage) }}"
             alt="{{ trick.trick.title }}"/>
        <span class="hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-sm btn-primary
            hover:bg-blue-500 whitespace-nowrap">
            En savoir plus
        </span>
    </a>
    <div class="p-4 flex flex-col">
        <span class="mb-2 bg-gray-500 text-white px-3 py-0.5 text-[14px] max-w-max rounded-xl">
            {{ trick.categoryName }}
        </span>
        <a href="{{ path("trick_show", {'slug': trick.trick.slug}) }}"
           class="text-xl font-semibold pb-1">{{ trick.trick.title }}</a>
        {% if trick.trick.createdAt == trick.trick.updatedAt %}
            <span class="text-sm text-gray-600">
                Crée le {{ trick.trick.createdAt|format_datetime('short', 'none', locale='fr') }}
            </span>
        {% else %}
            <span class="text-sm text-gray-600"> #}
                Modifé le {{ trick.trick.updatedAt|format_datetime('short', 'none', locale='fr') }}
            </span>
        {% endif %}
        <p class="pt-2">
            {{ trick.trick.content|slice(0, 100) }}...
        </p>
    </div>
</article>