<header class="py-8 flex flex-col sm:flex-row items-center gap-3 sm:gap-0 justify-between">
    <div class="flex items-end pb-2">
        <a href="{{ path('home') }}" class="text-2xl font-bold">Snow<span class="text-blue-500">Tricks</span></a>
    </div>
    <nav class="flex gap-2 items-center">
        {% if(app.user) %}
            <a class="btn-secondary text-sm" href="{{ path('trick_create') }}">
                <i class="fa fa-plus mr-1"></i>Ajouter un Trick
            </a>
            <a class="btn-danger text-sm" href="{{ path('security_logout') }}">Se déconnecter</a>
        {% else %}
            <a class="text-blue-500 hover:underline text-md mr-2" href="{{ path('security_register') }}">S'inscrire</a>
            <a class="btn-primary text-sm"
               href="{{ path('security_login') }}">Se connecter</a>
        {% endif %}
    </nav>
</header>