{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-24 flex justify-center flex-col items-center gap-8">
        <h1 class="font-bold text-8xl text-center">404</h1>

        <p class="text-gray-700 text-lg max-w-xl mx-auto text-center">
            Aucune page trouvé, cette page n'existe pas.
        </p>

        <a class="btn-primary py-2 px-6" href="{{ path('home') }}">
            Retourner sur la page d'accueil
        </a>
    </section>
{% endblock %}