{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-24 flex justify-center flex-col items-center gap-8">
        <h1 class="font-bold text-8xl text-center">403</h1>

        <p class="text-gray-700 text-lg max-w-xl mx-auto text-center">
            Votre compte utilisateur n'est pas vérifié vous ne pouvez donc pas accéder à cette page.
        </p>

        <a class="btn-primary py-2 px-6" href="{{ path('security_resend_email_activate_account') }}">
            Envoyer un email de validation de compte
        </a>
    </section>
{% endblock %}