<div class="flex item-start gap-2 flex-wrap sm:flex-nowrap">
    {% if form.vars['value'].filename ?? null %}
        <img class="rounded-md max-w-full sm:max-w-[100px] max-h-[100px] object-cover border border-gray-400" width="400" height="400"
             src="../uploads/tricks/{{ form.vars['value'].filename ?? null }}" alt="">
    {% endif %}
    <div class="w-[calc(100%-40px)]">
        {{ form_widget(form.file) }}
        <span class="form-error">{{ form_errors(form.file) }}</span>
    </div>
    <div class="pl-1 sm:pl-2">
        <button type="button" class="btn-danger btn-remove text-sm px-2 py-1">
            <i class="fas fa-trash text-[13px]"></i>
        </button>
    </div>
</div>


