<div class="bg-gray-100 borer border-gray-300 shadow-sm p-4 rounded">
    <div id="videos"
         data-prototype="{{ include('trick/_form-videos-prototype.html.twig', {form: form.videos.vars.prototype})|e('html_attr') }}"
         data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
         class="flex flex-col items-stretch w-full gap-4">
        <p class="font-semibold pb-1">Les vidéos</p>
        {% for video in form.videos %}
            {{ include('trick/_form-videos-prototype.html.twig', {form: video}) }}
        {% endfor %}
    </div>
    <span class="form-error">{{ form_errors(form.videos) }}</span>
    <button type="button" class="btn-secondary btn-new w-full mt-4" data-collection="#videos">
        <i class="fa fa-plus mr-2"></i>Ajouter une vidéo
    </button>
</div>
