<div class="bg-gray-100 borer border-gray-300 shadow-sm p-4 rounded">
    <div id="images"
         data-prototype="{{ include('trick/_form-images-prototype.html.twig', {form: form.images.vars.prototype})|e('html_attr') }}"
         data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
         class="flex flex-col items-stretch w-full gap-4">
        <p class="font-semibold pb-1">Les images</p>
        {% for image in form.images %}
            {{ include('trick/_form-images-prototype.html.twig', {form: image}) }}
        {% endfor %}
    </div>
    <span class="form-error">{{ form_errors(form.images) }}</span>
    <button type="button" class="btn-secondary btn-new w-full mt-4" data-collection="#images">
        <i class="fa fa-plus mr-2"></i>Ajouter une image
    </button>
</div>
