<div class="flex w-full items-start flex-wrap">
    {% if form.vars['value'].source ?? null %}
        <iframe class="min-w-full h-[220px]" src="{{ form.vars['value'].source }}"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen></iframe>
    {% endif %}
    <div class="w-[calc(100%-48px)] mt-4">
        {{ form_widget(form.source) }}
        <span class="form-error">{{ form_errors(form.source) }}</span>
    </div>
    <div class="pl-2 mt-4">
        <button type="button" class="btn-danger btn-remove text-sm px-3 py-2">
            <i class="fas fa-trash text-[17px]"></i>
        </button>
    </div>
</div>
