{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.title }}
{% endblock %}

{% block body %}
    <section class="mt-12">
        <img class="rounded-xl w-full h-[300px] sm:h-[450px] object-cover mb-8"
             src="../uploads/tricks/{{ trick.mainImage }}"
             alt="Trick image principale">
        {% if app.user %}
            {% if 'ROLE_USER_VERIFY' in app.user.roles %}
                <div>
                    <a href="{{ path('trick_update', {'slug': trick.slug}) }}"
                       class="py-2 px-3 rounded bg-orange-500 text-white hover:bg-orange-400 font-semibold">Modifier</a>
                    {% if trick in app.user.tricks %}
                        <button class="modal-open btn-danger" data-trick="{{ trick.id }}">Supprimer</button>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <div class="flex flex-col sm:flex-row sm:items-end justify-between gap-2 sm:gap-12">
            <h1 class="text-3xl sm:text-4xl font-bold pt-6">{{ trick.title }}</h1>
            {% if(trick.createdAt == trick.updatedAt) %}
                <span class="sm:text-lg text-gray-600 text-base whitespace-nowrap">
                Crée le {{ trick.createdAt|format_datetime('long', 'short', locale='fr') }}
            </span>
            {% else %}
                <span class="sm:text-lg text-gray-600 text-base whitespace-nowrap">
                Modifé le {{ trick.updatedAt|format_datetime('long', 'short', locale='fr') }}
            </span>
            {% endif %}
        </div>
        <span class="block mt-4 sm:mt-2 bg-gray-500 text-white px-4 py-1 max-w-max rounded-xl">
            {{ trick.category.name }}
        </span>
        <div class="pt-6">
            <p class="text-justify text-gray-600 leading-7 text-lg">{{ trick.content }}</p>
        </div>
    </section>
    <div {{ react_component('SliderTricks', {'slug': trick.slug}) }}></div>
    <section>
        <h2 class="text-3xl font-bold pb-6">Les commentaires</h2>
        {% if not app.user %}
            <div class="bg-white mb-12 sm:mb-24 py-14 px-8 rounded-2xl flex flex-col items-center shadow-md border border-gray-300">
                <h3 class="text-3xl font-bold pb-4">Ajouter un commentaire</h3>
                <p class="text-lg">Connectez-vous / Inscrivez-vous</p>
                <div class="flex flex-col sm:flex-row items-center gap-6 pt-8 w-full sm:w-auto">
                    <a class="btn btn-primary min-w-[200px] text-center w-full sm:w-auto"
                       href="{{ path('security_login') }}">Se
                        connecter</a>
                    <a class="btn btn-secondary min-w-[200px] text-center w-full sm:w-auto"
                       href="{{ path('security_register') }}">S'inscrire</a>
                </div>
            </div>
        {% elseif 'ROLE_USER_VERIFY' not in app.user.roles %}
            <div class="bg-white mb-12 sm:mb-24 py-14 px-8 rounded-2xl flex flex-col items-center shadow-md border border-gray-300">
                <h3 class="text-3xl font-bold pb-4">Ajouter un commentaire</h3>
                <p class="text-lg">Veuillez activez votre compte</p>
                <div class="mx-auto mt-8">
                    <a class="btn btn-primary min-w-[200px] text-center w-full sm:w-auto"
                       href="{{ path('security_resend_email_activate_account') }}">Envoyer un mail</a>
                </div>
            </div>
        {% else %}
            <div class="bg-white mb-8 py-14 px-8 rounded-2xl flex flex-col shadow-md border border-gray-300">
                <h3 class="sm:text-3xl font-bold pb-4 text-2xl">Ajouter un commentaire</h3>
                {{ form_start(formComment) }}
                {{ form_widget(formComment._token) }}
                <div class="form-group mt-2">
                    <div>
                        {{ form_label(formComment.content) }}
                        {{ form_widget(formComment.content) }}
                        <span class="form-error text-md font-semibold pb-6">{{ form_errors(formComment.content) }}</span>
                    </div>
                </div>
                {{ form_row(formComment.submit) }}
                {{ form_end(formComment) }}
            </div>
        {% endif %}
    </section>

    <div {{ react_component('CommentList', {trickId: trick.id}) }}></div>

    {% include 'partial/_modal-delete.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal-delete') }}
{% endblock %}


