{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Modifier un trick{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}

{% block body %}
    <div class="flex justify-center my-12">
        <section class="bg-white w-full sm:w-3/4 lg:w-2/4 py-8 md:px-6 lg:px-8 px-3">
            <h1 class="text-3xl font-semibold text-center py-3 pb-8">Modifier un Trick</h1>
            {{ form_start(form) }}
            {{ form_widget(form._token) }}
            <div class="form-group mt-2">
                <div>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    <span class="form-error">{{ form_errors(form.title) }}</span>
                </div>
            </div>

            <div class="form-group mt-2">
                <div>
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                    <span class="form-error">{{ form_errors(form.content) }}</span>
                </div>
            </div>

            <div class="form-group mt-2 pb-4">
                {{ form_label(form.mainImage) }}
                <div class="flex w-full item-start gap-2 -mt-2">
                    <img class="rounded-md max-w-[100px] max-h-[100px] object-cover border border-gray-400"
                         src="../uploads/tricks/{{ trick.mainImage }}" alt="main image"
                         width="400" height="400">
                    <div class="w-full">
                        {{ form_widget(form.mainImage) }}
                        <span class="form-error">{{ form_errors(form.mainImage) }}</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-col w-full gap-4 mt-2">
                {{ include("trick/_form-images.html.twig", {form: form}) }}
                {{ include("trick/_form-videos.html.twig", {form: form}) }}
            </div>

            <div class="form-group mt-4">
                <div>
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                    <span class="form-error">{{ form_errors(form.category) }}</span>
                </div>
            </div>

            {{ form_row(form.submit) }}

            {{ form_end(form, {render_rest: false}) }}
        </section>
    </div>
{% endblock %}



