<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Réinitialisation de votre mot de passe</h1>
<a href="{{ url('security_reset_password', { 'reset_token': token }) }}">Réinitialiser votre mot de passe</a>
</body>
</html>
